<h1>Check Your Bills: Overview for <%= @user.first_name %></h1>

<h2><%= @user.first_name %>'s Legislators</h2>
<ul>
<% @legislators.each do |legislator| %>

	<li>First Name: <%= legislator.first_name %></li>
	<li>Last Name: <%= legislator.last_name %></li>
	<li>Chamber: <%= legislator.chamber %></li>
	<li>Twitter: <%= legislator.twitter_id %></li>
	<li>YouTube: <%= legislator.youtube_id %></li>
	</br>
<% end %>
</ul>

<h2><%= @user.first_name%> Phrase</h2>

<ul>
<% @phrases.each do |phrase| %>
	<li><%= phrase.phrase %></li>
	<%= link_to 'Change this phrase', edit_user_phrase_path(@user, phrase) %>
	<%#= link_to 'Delete', :method => :delete %>
	<%#= link_to 'create' %>
<% end %>
</ul>

<h2><%= @user.first_name %>, you're checking | <%= @word %></h2>

<ul>
	<% @bills.each do |bill| %>
	<li>Bill's official title:<%= bill.official_title %></li>
	<li>Bill's chamber:<%= bill.chamber %></li>
	<li>Learn more about this bill:<% bill.urls.each do |k,v| %>
	<%= link_to k, v %></li>

	<% end %>
	<% end %>
</ul>

<h3>Upcoming Bills</h3>


<!-- <h1>Add A Phrase</h1> -->

<%#= form_for [@user, @new_phrase] do |f| %>

  <!-- <div> -->
    <%#= f.label :phrase %>
    <%#= f.hidden_field :user_id, value: current_user.id %>
    <%#= f.text_field :phrase %>
  <!-- </div>
  <%#= f.su -->bmit %>
# <#% end %>
