<h1>Check Your Bills: Overview for <%= @user.first_name.capitalize %></h1>

<div class ="panel panel-default">

	<div class = "panel-heading">
		<h2><%= @user.first_name.capitalize %>'s Legislators</h2>
	</div>


	<ul>
		<% @legislators.each do |legislator| %>
			<div class = "panel">
					<li>First Name: <%= legislator.first_name %></li>
					<li>Last Name: <%= legislator.last_name %></li>
					<li>Chamber: <%= legislator.chamber.capitalize %></li>
					<li>Twitter: <%= legislator.twitter_id %></li>
					<li>YouTube: <%= legislator.youtube_id %></li>
					</br>
			</div>
		<% end %>
	</ul>
</div>

<div class = "panel panel-default">

	<div class = "panel-heading">
		<h2><%= @user.first_name.capitalize %>'s Phrase</h2>
	</div>

	<ul>
		<% @phrases.each do |phrase| %>
		<div class = "panel">
			<li><%= phrase.phrase.capitalize %> |
			<%= link_to 'Change this phrase', edit_user_phrase_path(@user, phrase) %></li>
		</div>
		<%#= link_to 'Delete', :method => :delete %>
		<%#= link_to 'create' %>
		<% end %>
	</ul>
</div>

<div class ="panel panel-default">
	<div class ="panel-heading">

	<h2><%= @user.first_name.capitalize %>, there are <%=@bills.count%> pending bills that mention | <%= @word.capitalize %></h2>
	</div>

	<ul>
		<% @bills.each do |bill| %>

		<div class ="panel">
		<li><i>Official Title:</i> <b><%= bill.official_title %></b></li>
		<li>Chamber: <%= bill.chamber.capitalize %></li>
		<li>Learn more: <% bill.urls.each do |k,v| %><%= link_to k, v %>, <% end %></li>
		</div>
		<% end %>
		</br>
	</ul>
</div>


<!-- <h3>Upcoming Bills</h3> -->


<!-- <h1>Add A Phrase</h1> -->

<%#= form_for [@user, @new_phrase] do |f| %>

  <!-- <div> -->
    <%#= f.label :phrase %>
    <%#= f.hidden_field :user_id, value: current_user.id %>
    <%#= f.text_field :phrase %>
  <!-- </div>
  <%#= f.su -->bmit %>
# <#% end %>
