<h1>Edit</h1>

<%= form_for [@user, @phrase] do |form| %>
	<div>
		<%= form.label :phrase %>
		<%= form.hidden_field :user_id, value: current_user.id %>
		<%= form.text_field :phrase %>
	</div>
		<%= form.submit %>
	<% end %>
