<h1>Add Your Phrases</h1>

<%= form_for [@user, @phrase] do |f| %>

  <div>
    <%= f.label :phrase %>
    <%= f.text_field :phrase %>
    <%= f.label :phrase %>
    <%= f.text_field :phrase %>
    <%= f.label :phrase %>
    <%= f.text_field :phrase %>
  </div>
  <%= f.submit %>
<% end %>
